@charset "UTF-8";
$property-white-color: #fff1ff;
$property-background:#fc2f34;

$font-orange: #fea202;
$fundtype-bg-orange: #fbedb9;
$fundtype-font-orange: #e27e00;

$button-disable-white: rgba(255,255,255,0.3);

$white: rgba(255, 255, 255, 0.8);
$light-white :rgba(255, 255, 255, 0.4);

$block-red: #e30707;//
$font-red: #ff2b2b;//文字和按钮弹出层
$button-disabled-red: rgba(255, 43, 43, 0.31);

$font-blue: #07bef5;
$font-disabled-blue: rgba(7, 190, 245, 0.31);

$font-black: rgba(0, 0, 0, 0.8);
$font-light-black: rgba(0, 0, 0, 0.6);
$tab-black: rgba(0, 0, 0, 0.5);
$fundcode: rgba(0,0,0,0.4);

$placeholder: rgba(0,0,0,0.2);

$border-line: #d6d6d6;
$font-green: #18bb02;




